{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .content-section {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Shadow effect */
}

.content-section legend {
  font-size: 24px;
  color: #333333;
}

.content-section .form-group {
  margin-bottom: 20px;
}

.content-section .form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.content-section .btn {
  border-color: #17a2b8;
}

.content-section .btn-outline-info {
  color: #17a2b8;
}

.content-section .text-muted {
  color: #999999;
}

.password-info {
  font-size: 14px;
  color: #999999;
}

</style>
    <h1>{{ user.username }}</h1>
{% endblock content %}